*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 1280px;
  max-width: 92%;
  margin: 0 auto;
}

header{
  padding: 30px 0;
  background-color:beige;
}

header .nav-bar-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .nav-bar-wrap a{
  text-decoration: none;
  font-size: 20px;
  color: brown;
  transition: all ease-in-out .3s;
}

header nav ul{
  list-style: none;
  display: flex;
  column-gap: 15px;
}

header .logo a{
  font-weight: 600;
  font-size: 35px;
}


header nav ul li a:hover{
  text-decoration: underline;
  font-weight: bold;
  text-underline-offset: 10px;

}

.active{
  text-decoration: underline;
  font-weight: bold;
  text-underline-offset: 10px;
}

.form-wrapper form {
  max-width: 800px;
  margin: 30px auto;
}

.form-wrapper form .form-field{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-wrapper form .form-field:last-child{
  margin-bottom: 0;
}

.form-wrapper form label{
  font-size: 13px;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-wrapper form input{
  font-size: 18px;
  padding: 10px 15px;
  border: none;
  border-bottom: 1px solid #5ecdec;
  color: brown;
}

.form-wrapper form input:active,
.form-wrapper form input:valid{
  border: none;
  outline: none;
  border-bottom: 1px solid #5ecdec;
}